# Banco transacional de origem (AdventureWorks para PostgreSQL)
SRC_HOST=localhost
SRC_PORT=5432
SRC_DB=Adventureworks
SRC_USER=postgres
SRC_PASSWORD=

# Data Warehouse de destino
DW_HOST=localhost
DW_PORT=5432
DW_DB=adventureworks_dw
DW_USER=postgres
DW_PASSWORD=
